* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --colore-primario: #0892d0;
    --colore-testo: white;
    --colore-hover-testo: black;
    --colore-testo-errore: red;
    --colore-bordi-input: #ADADAD;
}

@media screen and (orientation: landscape) and (min-width: 400px) {
    .aggiungiprogettobody {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main form {
        padding: 20px;
        min-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    main form div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #pulsantePubblicaProgetto {
        background-color: var(--colore-primario);
        min-width: 20vw;
        padding: 7px;
        text-transform: uppercase;
        color: var(--colore-testo);
        letter-spacing: 2px;
        border-radius: 2em;
    }
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    .aggiungiprogettobody {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main form {
        padding: 20px;
        min-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    main form div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #pulsantePubblicaProgetto {
        background-color: var(--colore-primario);
        min-width: 20vw;
        padding: 7px;
        text-transform: uppercase;
        color: var(--colore-testo);
        letter-spacing: 2px;
        border-radius: 2em;
    }
}