* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --colore-primario: #0892d0;
    --colore-testo: white;
    --colore-hover-testo: black;
    --colore-testo-errore: red;
    --colore-bordi-input: #ADADAD;
}

@media screen and (orientation: landscape) and (min-width: 400px) {
    .areariservatapagebody {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .head-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    
    main form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        border: 4px solid var(--colore-primario);
    }
    
    main form .buttonsdiv {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    main form input[type="text"], input[type="password"] {
        border: 1px solid var(--colore-bordi-input)
    }
    
    form button {
        background-color: var(--colore-primario);
        min-width: 20vw;
        padding: 10px;
        border: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 2em;
        color: var(--colore-testo);
        transition: background-color 0.4s ease-in-out;
    }

    form button:hover {
        background-color: var(--colore-primario);
        color: var(--colore-hover-testo);
    }

    form button:focus {
        background-color: var(--colore-primario);
        color: var(--colore-hover-testo);
    }
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    .areariservatapagebody {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .head-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    
    main form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        border: 4px solid var(--colore-primario);
    }
    
    main form .buttonsdiv {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    main form input[type="text"], input[type="password"] {
        border: 1px solid var(--colore-bordi-input)
    }
    
    form button {
        background-color: var(--colore-primario);
        min-width: 70vw;
        padding: 10px;
        border: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 2em;
        color: var(--colore-testo);
        transition: background-color 0.4s ease-in-out;
    }

    form button:hover {
        background-color: var(--colore-primario);
        color: var(--colore-hover-testo);
    }

    form button:focus {
        background-color: var(--colore-primario);
        color: var(--colore-hover-testo);
    }
}