* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --colore-primario: #BE123C;
    --colore-testo: white;
    --colore-hover-testo: black;
    --colore-testo-errore: red;
}

@media screen and (orientation: landscape) and (min-width: 400px) {
    .portfoliopagebody {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 40px;
    }

    main .messaggioerrore {
        color: var(--colore-testo-errore);
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }

    main .card {
        width: 35vw; /* ? */
    }

    main .card-footer {
        display: flex;
        justify-content: end;
        align-items: end;
        background-color: var(--colore-testo);
        padding: 12px;
    }

    main .card-footer a {
        padding: 10px;
        min-width: 12vw;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: var(--colore-primario);
        color: var(--colore-testo);
        border-radius: 2em;
    }

    main .card-footer a:hover {
        background-color: var(--colore-primario);
        color: var(--colore-testo);
    }

    /*main .boxprogetto {
        border: 4px solid var(--colore-primario);
        padding: 40px;
        min-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    main .boxprogetto p {
        text-align: center;
        font-size: 25px;
        letter-spacing: 2px;
    }

    main .boxprogetto img {
        width: 600px;
        object-fit: cover;
        background-position: center;
    }

    main .boxprogetto a {
        color: var(--colore-testo);
        background-color: var(--colore-primario);
        min-width: 15vw;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 2em;
        transition: background-color 0.4s ease-in-out;
    }

    main .boxprogetto a:hover {
        background-color: var(--colore-hover-testo);
        color: var(--colore-testo);
    }

    main .boxprogetto a:focus {
        background-color: var(--colore-hover-testo);
        color: var(--colore-testo);
    }

    main .boxprogetto-footer {
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 20px;
    }*/
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    .portfoliopagebody {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    main .messaggioerrore {
        color: var(--colore-testo-errore);
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }

    main .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .card-footer {
        display: flex;
        justify-content: end;
        align-items: end;
        background-color: var(--colore-testo);
        padding: 12px;
        min-width: 100%;
    }

    main .card-footer a {
        padding: 10px;
        min-width: 15vw;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: var(--colore-primario);
        color: var(--colore-testo);
        border-radius: 2em;
    }

    main .card-footer a:hover {
        background-color: var(--colore-primario);
        color: var(--colore-testo);
    }

    /*main .boxprogetto {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        border: 4px solid var(--colore-primario);
    }

    main .boxprogetto p {
        text-align: center;
        font-size: 25px;
        letter-spacing: 2px;
    }

    main .boxprogetto a {
        color: var(--colore-testo);
        background-color: var(--colore-primario);
        min-width: 30vw;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 2em;
        transition: background-color 0.4s ease-in-out;
    }

    main .boxprogetto-footer {
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 20px;
        min-width: 100%;
    }*/
}