* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --colore-primario: #0892d0;
    --colore-testo: white;
    --colore-hover-testo: black;
}

@media screen and (orientation: landscape) and (min-width: 400px) {
    nav {
        background-color: var(--colore-primario);
    }

    nav #dropDownMenuList {
        background-color: white;
    }

    nav #dropDownMenuList form {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        min-width: 100%;
        padding: 10px;
        gap: 20px;
        
    }
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    nav {
        background-color: var(--colore-primario);
    }

    nav #mobile-menu .menulistmobile {
        display: flex;
        flex-direction: column;
    }
}