* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colore-primario: #BE123C;
    --colore-testo: white;
    --colore-hover-testo: black;
}

@media screen and (orientation: landscape) and (min-width: 400px) {
    nav {
        background-color: var(--colore-primario);
    }
    
    nav .hidden a {
        display: none;
    }
    
    nav .formprogettoportfolio {
        display: none;
    }
    
    nav .formarticoloblog {
        display: flex;
        justify-content: end;
        gap: 20px;
        padding-right: 20px;
    }

    nav .formarticoloblog input[type="search"] {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        text-align: start;
        min-width: 22vw;
    }
    
    nav label {
        display: none;
    }
    
    nav button {
        display: none;
    }

    nav #mobileMenuBtnHome {
        display: none;
    }
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    nav, nav #mobile-menu {
        background-color: var(--colore-primario);
    }

    nav #mobile-menu a {
        display: none;
    }

    nav button {
        display: none;
    }

    nav .formprogettoportfolio {
        display: none;
    }

    nav .formarticoloblog label {
        display: none;
    }

    nav .formarticoloblog input[type="search"] {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        text-align: start;
        min-width: 22vw;
    }

    nav #mobileMenuBtnHome {
        display: none;
    }
}